<h1>Example of the 3 ways a parent can communicate with a child element directly </h1>
<ol>
  <li><p>Bind to a a input property. Remember that objects and arrays are passed by reference, strings and numbers are passed by value</p></li>
  <li><p>Bind event handler to an output property<p></li>
  <li><p>Get the element from the view in the parent class</p></li>
</ol>

<!-- Example, binding a literal string to our new button -->
<cool-button id="2" [buttonString]="'text'"></cool-button>

<!-- buttonString is the input parameter, text is the property in the class-->
<!-- note the binding on string is a copy-->
<!-- but binding to an object is a reference-->
<!-- click events bubbles so don't need to do anything special there-->
<cool-button  [buttonString]="text" (click)="clicked()"  (countFive)="clickedFive($event)" #cb></cool-button>

<br>
<!--local variables is accessible from cb-->
<label >Count:</label><span>{{cb.count}}</span>
<!-- we access the local variable in the object, and copy it to clickCount-->
<label >Click Count:</label><span>{{clickCount}}</span>