<div>
<h2>Order Screen</h2>
<h3>Current Order</h3>
<div *ngIf="teaApp.currentOrder.tea.name != ''">
Tea: {{teaApp.currentOrder.tea.name}}   
   <div *ngFor="let item of teaApp.currentOrder.toppingsList">
      {{item.name}}
   </div>
   Total: {{teaApp.currentOrder.totalPrice() | currency}}
   <input type="button" (click)="add()" value="Add">
  </div>

<h3>Drink List</h3>
<div>
<table>
<tr *ngFor="let drink of teaApp.orderList">
<td>{{drink.orderString()}}<td>
    <td>{{drink.totalPrice() | currency}}<td>
<tr>
</table>

</div>
</div>