.custom_button {
    width: 9em;
    height: 2em;
    display: flex; //cheating, using flex layout for 1 item
    background: linear-gradient(to right,darkgreen, yellow);
    justify-content: center;
    align-items: center;
    >label {
                
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: .05em;
    
    }
    border-radius: 1em;

    &:hover{
        background: linear-gradient(to right,darken(darkgreen,10%),lighten( yellow,10%));
    }
    &:active{
        background: green;
    }
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .0314em;
}