
<form #options (change)="updateSelection(options)">
  <table>
      <tr *ngFor="let item of list;index as idx">   
        <td>{{idx +1 }} :</td>
        <td><input class="cb" type="checkbox"></td>
        <td>{{item.name}}</td>
        <td>{{item.price | currency}}</td>
      </tr>
  </table>
</form>


