
<form #options (change)="updateSelection(options)">
    <table>
        <tr *ngFor="let item of list;index as idx">   
          <td>{{idx +1 }} :</td>
          <td><input name = "tea" class="rb" type="radio"></td>
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
        </tr>
    </table>
  </form>
  
  
  