<div>
  <h1>Langara Bubble Tea Ordering System</h1>
  <div class="gridContainer">
    <div class="toppingMenu">
      <topping-menu></topping-menu>
    </div>
    <div class="teaMenu">
      <tea-menu></tea-menu>
    </div>
    <div class="order">
      <price-display></price-display>
    </div>
  </div>
</div>